.hero {
    @apply h-[calc(100vh-70px)] bg-[url('https://images.openai.com/static-rsc-4/6M6s5lp4fB6e4320N74n4RemvYlixVs8BVuf9w0r_zDZg2ZNyLEPgs9aATicsNsFlQYF48CoUuRmoP7m9UW-AWDJxrw423rCS9COn4foqw7pjklrW9dX4qBH11jRlnn6ksq1QMqe3x3YV92inMxxjc0zvNEDI8kp8FsvWl1D55pPgsdVUxfwBsSiGg7DCI7f?purpose=fullsize')] bg-cover bg-center bg-no-repeat relative;
}

.overlay {
    @apply w-full h-full bg-[linear-gradient(90deg,rgba(17,24,39,0.88),rgba(17,24,39,0.55),rgba(17,24,39,0.25))] flex items-center;
}
.primary-btn{
    @apply hover:bg-[#ed0606] hover:border-[#ed0606] bg-[#ec472a15] text-white py-[15px] px-[35px] rounded-[8px] border-2 border-white text-[16px] transition-all duration-300
}
.secondary-btn{
    @apply bg-transparent text-white border-2 border-white py-[15px] px-[35px] rounded-[8px] cursor-pointer hover:bg-[#ed0606] hover:border-[#ed0606]
}

.marquee {
    animation: scrollLeft 18s linear infinite;
}

.marquee:hover {
    animation-play-state: paused;
}


.tech-item {
    @apply min-w-[220px] text-center mr-[25px] p-[20px] border border-transparent rounded-[12px] transition-all duration-[350ms] cursor-pointer;
}

@keyframes scrollLeft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }

}

.company_card {
    @apply border rounded-xl p-6 text-center hover:border-red-500 hover:shadow-lg transition cursor-pointer
}

.previous_button {
    @apply disabled:opacity-40 disabled:cursor-not-allowed disabled:hover:bg-transparent disabled:hover:text-current hover:bg-red-500 hover:text-white
}

.next_button {
    @apply disabled:opacity-40 disabled:cursor-not-allowed disabled:hover:bg-transparent disabled:hover:text-current hover:bg-red-500 hover:text-white
}

.company_card {
    min-height: 170px;
}

@media(max-width:768px) {
    .hero {
        height: auto;
        background-position: 65% center;
    }

    .overlay {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .hero-content {
        padding: 40px 20px;
        text-align: center;
    }

    .hero h1 {
        font-size: 38px;
        line-height: 1.2;
    }

    .hero p {
        width: 100%;
        font-size: 16px;
        margin: 20px auto;
    }

    .hero-buttons {
        flex-direction: column;
        gap: 15px;
    }

    .primary-btn,
    .secondary-btn {
        width: 100%;
    }

    .tech-item:hover {
        scale: 1;
    }

    .technologies_practice {
        padding: 50px 0;
    }

    .company_card {
        min-height: 150px;
    }

    .previous_button,
    .next_button {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
    }

    .tech-item {
        min-width: 140px;
        margin-right: 15px;
        padding: 15px;
    }

    .tech-item h3 {
        font-size: 28px;
    }

    .tech-item p {
        font-size: 15px;
    }

    .marquee {
        animation: scrollLeft 25s linear infinite;
    }

    .prequently_questions {
        .title_names {
            font-size: 10px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
    }

    .technologies_practice h2 {
        font-size: 30px;
    }

    .technologies_practice p {
        font-size: 15px;
    }
}